:root {
    --radius: 8px;
    --gap: 8px;
    --color: aquamarine;
    --color-hover: aqua;
    --base-color: white;
    --border: 2px solid var(--color);
}

.btnCommon {
    border: none;
    height: 100%;
    padding: 0 8px;
    border-radius: var(--radius);
    background-color: var(--color);
}

.btnCommon:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

#container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.toDoContainer {
    width: 40%;
    min-height: 30vh;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);
    border-radius: var(--radius);
    gap: var(--gap);
}

#inputForm {
    width: 100%;
    display: flex;
    gap: var(--gap);
}

#inputForm input {
    font-size: 16pt;
    height: 48px;
}

#textInput {
    flex-grow: 1;
    padding: 0 8px;
    border-radius: var(--radius);
    border: var(--border)
}

#submitInput {
    width: 16%;
}

#toDoList {
    width: 100%;
    height: 240px;
    padding-top: 8px;
    overflow: auto;
    background-color: var(--base-color);
    border: var(--border);
    border-radius: var(--radius);
}

#toDoList ul {
    padding: 8px;
    margin: 0;
}

#toDoList li {
    list-style-type: none;
}

#toDoList h2 {
    text-align: center;
    font-size: 16pt;
    margin: 0;
}

.item {
    height: 48px;
    margin-top: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    gap: var(--gap);
    border-radius: var(--radius);
}

.item p {
    flex-grow: 1;
}

.item button {
    width: 40px;
}

#footer {
    height: 56px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    border: var(--border);
    border-radius: var(--radius);
}

#footer p {
    flex-grow: 1;
}